/**
* Icons are from http://icomoon.io/app/
* color code : #666666
**/

.fm-container * {
    font-family: Lucida Sans Unicode, Lucida Grande, sans-serif;
    box-sizing: content-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: content-box;
}

.fm-container {
	padding: 10px;
	background-color:#ACC1BB;
	overflow:hidden; /** prevent overflow if #uploader h1 path value is too long */
}

.fm-container video,
.fm-container audio {
	margin:3em;
}
.fm-container #uploader {
	display: block;
	text-align: right;
	height: auto;
	min-height:30px;
	overflow: hidden;
}

.fm-container #uploader h1 {
	display: block;
	float: left;
	margin:0.2em 0 0 1em;
	line-height:1.9em;
	font-size: 0.8em;
	color:#fff;
	word-break: break-all;
}

.fm-container #uploader button {
	cursor: pointer;
}

.fm-container #uploadresponse {
	display: none;
}

.fm-container #splitter {
	background-color: #ACC1BB;
	height: 400px;
	/* no padding allowed */
}

.fm-container #filetree {
	overflow: auto;
	/*border:1px solid #eee;*/
	background-color: #B3C9C2;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	/* no margin or border allowed */
}

.fm-container #filetree > ul,
.fm-container #filetree .mCSB_container > ul {
	padding: 4px;
}

.fm-container #fileinfo {
	min-width: 100px;
	overflow: auto;
	background-color: #E0E0E0;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	/*border:1px solid #eee;*/
	/* no margin or border allowed */
}

.fm-container #splitter .vsplitbar {
	width: 10px;
	background: #ACC1BB url(../../../scripts/jquery.splitter/vgrabber.gif) no-repeat center;
}

.fm-container #fileinfo {
	text-align: center;
	padding:0;
	margin:0;
}

.fm-container #fileinfo * {
	font-size: 12px;
}

.fm-container #fileinfo *:not(."CodeMirror") {
	color: #333;
}

.fm-container #preview {
	width: 100%;
}

.fm-container #preview > img {
	margin: 25px;
	max-width: 80%;
}

.fm-container #fileinfo #main-title {
	margin: 10px auto;
}
.fm-container #fileinfo h1 {
	font-size: 20px;
	color: #444;
	display: inline-block;
}
.fm-container #fileinfo > h1 {
	margin-top:3em
}

.fm-container div#tools {
	display: inline-block;
	margin-left:1em;
}

.fm-container #preview dl {
	display: block;
	width: 400px;
	margin: 10px auto;
	overflow: auto;
}

.fm-container #preview dl dt,
.fm-container #preview dl dd {
	display: block;
	float: left;
	width: 190px;
	padding: 4px;
	text-align: left;
	border-bottom: 1px dotted #efefef;
	overflow: hidden;
	color:#333;
}

.fm-container #preview dt {
	clear: left;
}

.fm-container #preview dd {
	font-weight: bold;
}

.fm-container #toolbar {
	display: block;
	clear: left;
	margin: 50px auto;
}

.fm-container #toolbar button {
	cursor: pointer;
}

.fm-container button,
.fm-modal-container button {
	background-color:#E8E8E8;
	display:inline-block;
	color:#333;
	border:none;
	padding:0.2em 0.3em;
	text-decoration:none;
	margin:0 0.2em 0.5em 0.2em;
	line-height:1.7em;
	-moz-border-radius:2px;
	-webkit-border-radius:2px;
	border-radius:2px;
	border:1px solid #fff;
}

.fm-container button:hover,
.fm-modal-container button:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #dfdfdf), color-stop(1, #ededed) );
	background:-moz-linear-gradient( center top, #dfdfdf 5%, #ededed 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#dfdfdf', endColorstr='#ededed');
	background-color:#C3D2F7;
}

.fm-container button span {
	display: block;
	padding-left: 20px;
	background-position: left center;
	background-repeat: no-repeat;
	background-color: transparent;
	white-space: nowrap;
}

.fm-container button:active,
.fm-container button:focus {
	color:#000;
	outline-color: transparent;
	outline-style: none;
	outline-width: 0;
}

.fm-container button.edition {
	color: black;
}
.fm-container button.em {
	background-color: #CCDBFF;
}
.fm-container button.em:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #C3D2F7), color-stop(1, #CCDBFF) );
	background:-moz-linear-gradient( center top, #C3D2F7 5%, #CCDBFF 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#C3D2F7', endColorstr='#CCDBFF');
	background-color:#dfdfdf;
}

/** Input file Replacement */


.fm-container input,
.fm-container button {
  vertical-align: text-top;
}

.fm-container #file-input-container {
	display:inline;
	margin:0;
	position:relative;
	top:0;
	width:255px;
	height:32px;
	overflow: hidden;
}

.fm-container #newfile {
	position: absolute;
	top:0;
	right:0;
	height:32px;
	width:100%;
	opacity:0;  filter: alpha(opacity=0);
	cursor: pointer;
	border:1px solid blue;
}

.fm-container .hidden-file-input {
	display: inline-block;
	overflow: hidden;
	visibility: hidden;
	width: 1px;
	z-index:-1;
}

.fm-container #alt-fileinput {
	display: inline;
	wrap: no-wrap;
}

.fm-container #filepath {
	background-color: #F7F7F7;
	border: 1px solid #fff;
	margin: 0;
	padding: 0.25em 0.3em;
	line-height: 1.7em;
	height:100%;
	-webkit-border-top-left-radius: 2px;
	-webkit-border-bottom-left-radius: 2px;
	-moz-border-radius-topleft: 2px;
	-moz-border-radius-bottomleft: 2px;
	border-top-left-radius: 2px;
	border-bottom-left-radius: 2px;
}

@-moz-document url-prefix() {
	.fm-container #filepath {
		padding:0.27em 0.3em;
	}
}


.fm-container button#browse {
	margin-left:0;
	-webkit-border-top-left-radius: 0px;
	-webkit-border-bottom-left-radius: 0px;
	-moz-border-radius-topleft: 0px;
	-moz-border-radius-bottomleft: 0px;
	border-top-left-radius: 0px;
	border-bottom-left-radius: 0px;
	min-height: 16px;
	min-width: 40px;
}
.fm-container button#browse span {
	margin:0;
	padding:0;
	background: url(../images/plus.png) no-repeat center center;
	display: block;
	color:#666;
	text-shadow: none;
}
/** Input file Replacement - end */

.fm-container #footer .right {
	float: right;
}

.fm-container #search,
.fm-container #search div,
.fm-container #folder-info {
	display: inline-block;
}

.fm-container #folder-info {
	font-size: 0.8em;
	color: #666666;
	padding: 1.3em 0.5em 0 1.3em;
}

.fm-container #summary {
	width: 16px;
	height: 16px;
	display: inline-block;
	background: url(../images/summary.png) no-repeat center center;
	cursor: pointer;
}

.fm-container #link-to-project {
	height: 12px;
	width: 45px;
	display: inline-block;
	background: transparent url(../../../images/fmlogo_wbg.png) no-repeat 0 0;
	margin: 1em 1em 0 1em;
}

.fm-container #q {
	background-color: #ACC1BB;
	border: 1px solid #dcdcdc;
	margin: 0.5em 0 0;
	padding: 0.1em 0.3em;
	line-height: 1.7em;
	width: 200px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
}

.fm-container #q:focus {
	background-color: #C6C6C6;
}

.fm-container #search span.q-inactive {
	color: #777;
	font-size: 0.85em;
	position: relative;
	left: -200px;
	top: 8px;
}

.fm-container #search a.q-reset {
	display: inline-table;
	width: 20px;
	height: 20px;
	background: url(../images/reset.png) no-repeat center center;
	position: relative;
	opacity:0.5;
	left: -30px;
	top: 13px;
	z-index: 24;
}

/** Opera hack */
x:-o-prefocus,
.fm-container #search a.q-reset {
	top:-14px;
}

.fm-container #contents.grid {
	padding: 15px;
	text-align: left;
}

.fm-container #contents.grid li {
	display: inline-block;
	width: 196px;
	min-height: 142px;
	text-align: center;
	overflow: hidden;
	margin: 10px;
	border: 1px solid white;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	-webkit-transition: background 0.3s linear;
	-moz-transition: background 0.3s linear;
	-ms-transition: background 0.3s linear;
	-o-transition: background 0.3s linear;
	transition: background 0.3s linear;
}

.fm-container #contents.grid li:hover {
	border: 1px solid #E5E5E5;
	background-color: #F7F7F7;
	cursor: pointer;
}

.fm-container #contents.grid li.file div.clip,
.fm-container #contents.grid li.directory div.clip {
	width: 64px;
	height: 64px;
	margin: 10px auto;
	overflow: hidden;
}

.fm-container #contents.grid li.directory-parent div.clip {
	width: 128px;
	height: 128px;
	margin: 0 auto;
}

.fm-container #contents.grid li.drop-hover,
.fm-container #contents.list tr.drop-hover {
	background-color: #a3a39f;
}

.fm-container #contents.grid p {
	display: block;
	text-align: center;
	margin-bottom: 10px;
	white-space: nowrap;
}

.fm-container #contents.list {
	width: 100%;
}

.fm-container #contents.list th,
.fm-container #contents.list td {
	text-align: left;
	padding: 6px;
	white-space: nowrap;
}

.fm-container #contents.list thead {
	background: #547267; /* Old browsers */
	color: #fff;
	border-bottom: 1px solid #ccc;
}

.fm-container #contents.list th {
	font-weight: bold;
	cursor: pointer;
}

.fm-container #contents.list th.sorted-asc,
.fm-container #contents.list th.sorted-desc {
    background: #a4bcb3; /* Old browsers */
    background: -moz-linear-gradient(top,  #a4bcb3 0%, #bad3c6 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#a4bcb3), color-stop(100%,#bad3c6)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #a4bcb3 0%,#bad3c6 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #a4bcb3 0%,#bad3c6 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #a4bcb3 0%,#bad3c6 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #a4bcb3 0%,#bad3c6 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a4bcb3', endColorstr='#bad3c6',GradientType=0 ); /* IE6-9 */
}

.fm-container #contents.list th.sorted-asc span {
	display: block;
	width: 100%;
	padding-right: 20px;
	background-image: url(../images/bullet_arrow_up.png);
	background-repeat: no-repeat;
	background-position: right center;
}

.fm-container #contents.list th.sorted-desc span {
	display: block;
	width: 100%;
	padding-right: 20px;
	background-image: url(../images/bullet_arrow_down.png);
	background-repeat: no-repeat;
	background-position: right center;
}

.fm-container #contents.list td {
	border-bottom: 1px dotted #efefef;
}

.fm-container #contents.list td:first-child {
	width: 100%;
	padding-left: 22px;
	background-repeat: no-repeat;
	background-position: 3px center;
}

.fm-container #contents.list tbody tr:hover {
	background-color: #eee;
	cursor: pointer;
}

.fm-container .meta {
	display: none;
}

.fm-container #activity {
	margin: 100px auto;
}

.fm-container .context-menu-list {
	min-width: 150px;
	background-color:#F4F1ED;
}

.fm-container .context-menu-item {
	font-size: 11px;
	margin: 2px 0;
	background-color: #F4F1ED;
}

.fm-container .context-menu-item.context-menu-hover {
	background-color: #BDF;
}

.fm-container .context-menu-item:before {
	content: " ";
	position: absolute;
	width: 16px;
	height: 16px;
	left: 6px;
	top: 0;
}

/* these apply to the context menus as well as the buttons */
.fm-container #select span,
.fm-container .context-menu-item.select:before { background-image: url(../images/accept.png); }
.fm-container #download span,
.fm-container .context-menu-item.download:before { background-image: url(../images/download.png); }
.fm-container #rename span,
.fm-container .context-menu-item.rename:before { background-image: url(../images/tag.png); }
.fm-container #move span,
.fm-container .context-menu-item.move:before { background-image: url(../images/move.png); }
.fm-container #replace span,
.fm-container .context-menu-item.replace:before { background-image: url(../images/replace.png); }
.fm-container #delete span,
.fm-container .context-menu-item.delete:before { background-image: url(../images/bin_closed.png); }
.fm-container #upload span { background-image: url(../images/upload.png); }
.fm-container #upload.loading span { background-image: url(../images/ajax-loader.gif);color:#555555;font-size:0.9em; }
.fm-container #parentfolder span { background-image: url(../images/parentfolder.png); }
.fm-container #newfolder span { background-image: url(../images/folder_add.png); }
.fm-container #home span { background-image: url(../images/house.png); background-position: center; }
.fm-container #level-up span { background-image: url(../images/level-up.png); background-position: center; }

.fm-container a#edit-file span,
.fm-container a#copy-button span {display:none}
.fm-container a#edit-file {display:inline-block;background: url(../images/edit.png) no-repeat bottom center;width:20px;height:18px;margin:0 0.2em;}
.fm-container a#copy-button {display:inline-block;background: url(../images/copy.png) no-repeat bottom center;width:20px;height:18px;margin:0 0.2em;}
.fm-container span#copied {color:#8C8C8C;font-size:11px;font-weight: normal;vertical-align:middle;}

.fm-container #grid span,
.fm-container #list span {
	width: 20px;
	background-repeat: no-repeat;
	background-position: center center;
}

.fm-container button.ON {
	background:none repeat scroll 0 0 #F9F8F7;
	border: 1px inset #ccc;
}

.fm-container #grid span {
	background-image: url(../images/application_view_icons.png);
}

.fm-container #list span {
	background-image: url(../images/application_view_list.png);
}

.fm-container #list {
	margin-left: 0;
}

.fm-container #progressbar {
	background:transparent url(../images/ajax-loader.gif) no-repeat 0 0;
	display:inline-table;
	width:30px;
	height:30px;
}

.fm-container #close-btn {
	margin-top:5px;
	display:block;
	width:100%;
	font-variant: small-caps;
	padding:0.5em;
}

.fm-container div.CodeMirror {
	text-align:left;
	width:70%;
	border: 1px solid #eee;
  	height: auto;
	margin:2em auto;
}

.fm-container ul.jqueryFileTree a {
	width: 100%;
	color: #efefef;
}

.fm-container ul.jqueryFileTree a:hover,
.fm-container ul.jqueryFileTree a.drop-hover {
	background-color: #545450;
}

.fm-container ul.jqueryFileTree li.selected > a {
	font-weight: normal;
}


/* IE10-11 styles */
html[data-useragent*='MSIE 10.0'] .fm-container #uploader button,
html[data-useragent*='MSIE 11.0'] .fm-container #uploader button {
	vertical-align: top;
}
html[data-useragent*='MSIE 10.0'] .fm-container #file-input-container,
html[data-useragent*='MSIE 11.0'] .fm-container #file-input-container {
 	width: 220px;
 	height: 32px;
 	overflow: hidden;
}
html[data-useragent*='MSIE 10.0'] .fm-container #filepath,
html[data-useragent*='MSIE 11.0'] .fm-container #filepath {
	height: 22px;
}
html[data-useragent*='MSIE 10.0'] .fm-container #newfile,
html[data-useragent*='MSIE 11.0'] .fm-container #newfile {
	height: 23px;
}

.fm-container #fm-pdf-viewer {margin-top:3em;}

.fm-container div.CodeMirror.CodeMirror-fullscreen {
  width:100%;
  margin:0;
  z-index: 9;
}


/** Modal dialog by Impromptu plugin */

.fm-modal-container .jqi {
	display: none; /* default state */
	position: absolute;
	font-size: 12px;
	min-width: 300px;
	padding: 10px;
	background-color: #F4F1ED;
	border: 1px solid #888;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	-ms-border-radius: 8px;
}

.fm-modal-container .jqiclose {
	float: right;
	margin: -9px -7px 0 0;
	font-size: 9px;
	cursor: pointer;
	text-transform: lowercase;
	color: #666;
}

.fm-modal-container div.jqi button {
	margin-top: 20px;
	margin-right: 0.5em;
	font-weight: normal;
	float: right;
}

.fm-modal-container div.jqistates {
	padding: 1em;
}

.fm-modal-container div.jqimessage p {
	padding: 0.3em;
	color: #555;
}

.fm-modal-container div.jqifade{
	background-color: #000000;
}

.fm-modal-container div.prompt-info {
	background: transparent url(../images/info.png) no-repeat 0 0;
	margin: 1em 0 0 0;
	padding-left: 2.2em;
	line-height: 25px;
	color: #444;
}

.fm-modal-container #fileupload-container {
	min-width: 860px;
}

.fm-modal-container #fileupload-container h2 {
	font-size: 1.2em;
	font-weight: bold;
}

.fm-modal-container #fileupload-container #total-progress {
	width: 100%;
	height: 5px;
	background-color: #A1ADE2;
	overflow: hidden;
}

.fm-modal-container #fileupload-container #total-progress .progress-bar {
	height: 5px;
	background-color: #333;
}

.fm-modal-container .summary-popup .jqimessage {
	font-size: 1.2em;
}

.fm-modal-container .summary-popup .jqimessage .title {
	font-weight: bold;
	margin-bottom: 0.8em;
}

.fm-modal-container .summary-popup .jqimessage .line {
	line-height: 1.4em;
}